/* start Global Rules */
:root{
    --main-dark-color:hsl(261, 63%, 53%);
    --background-dark-color:hsl(263, 38%, 10%);
    --text-color:#ffffff;
    --inputs-dark-color:hsl(263, 60%, 5%);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
	
}
/* small screens*/
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium screens*/
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large screens*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end Global Rules */
body{
    background:var(--background-dark-color);
    color:var(--text-color);
    font-family: sans-serif;
}
.crud{
    display:flex;
    justify-content: center;
}
.head{
    text-align: center;
    margin:20px 0;
}
/* start inputs styling */
input{
    width:100%;
    height: 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    margin:5px 0;
    padding: 10px;
    text-align:center;
    background:var(--inputs-dark-color) ;
    color:var(--text-color);
    caret-color:white;
    transition: .3s ease-in-out;
}
input:focus{
    background: var(--main-dark-color);
    transform:scale(1.01);
}
.pricing input{
    width:20%;
}
#total{
    display: inline-block;
    padding:3px 10px ;
    background:var(--inputs-dark-color);
    border:1px solid white;
    border-radius:5px;
}
#total::before{
    content:"Total:";
}
.inline input{
    width:49%;
}
button{
    height: 30px;
    width:100%;
    padding:0 10px ;
    background:var(--main-dark-color);
    border:3px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition:.3s;
}
.inputs button:hover{
    letter-spacing: 5px;
}
#delete{
    color:var(--text-color);
    border:3px solid hsl(261, 48%, 32%);
    background:transparent;
}
button:hover{
    color:var(--text-color);
    border:3px solid var(--main-dark-color);
    background:transparent;
}
/* end inputs styling */
/* start search styling */
.searchBlock{
    margin-top: 20px;
}
.searchBtn{
    display:flex;
    justify-content: space-evenly;
}
.searchBtn button{
    width:45%;
}
/* end search styling */
/* start outputs styling */
table{
    width: 100%;
    text-align: center;
    margin:40px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
    
}
/* end outputs styling */